.blog-header {
    background-image: url('/assets/images/blog-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport height */
    width: 100%;
  }
  